.form-control {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 250px;
}
/* Add this style to your index.css or MovieGrid.css */
.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
  transition: transform 0.2s ease-in-out; /* Smooth transition for hover effect */
}

.movie-poster img:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}
